.DS_Store
.atom/
.idea
.packages
.pub/
ios
.flutter-plugins
pubspec.lock
doc/api/
.dart_tool
/packages/redux_persist_flutter/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
